<section class="yield-canvas">
<div class="wiki-main">
    <h1>Wiki Editor</h1>
    <h4>
        <small>
            <% if @wiki.user==current_user %>
            Created by You
            <% else %>
            Created by <%= @wiki.user.username %>
            <% end %>
            <span> | </span>
            <% if @collaborators.count > 0 %>
                <span>Collaborator(s) : </span>
                <% @collaborators.each do |col| %>
                    <span class="del-col-btn">
                        <span><%= find_user_in(col.user_id).username %><%= link_to "", wiki_collaborator_path(@wiki.id, col.id), method: :delete, class: "glyphicon glyphicon-remove" %></span>
                    </span>
                <% end %>
            <% else %>
                <span>No Collaborator</span>
            <% end %>
        </small>
    </h4>
    <%= form_for @wiki do |f| %>
        <% if @wiki.errors.any? %>
            <div class="alert alert-danger">
                <h4><%= pluralize(@wiki.errors.count, "error") %>.</h4>
                <ul>
                    <% @wiki.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        
        <%= form_group_tag(@wiki.errors[:title]) do %>
            <%= f.label :title %><br />
            <%= f.text_field :title, rows: 8, class: "form-control"  %>
        <% end %>
        
        <%= form_group_tag(@wiki.errors[:body]) do %>
            <%= f.label 'Content' %><br />
            <%= f.text_area :body, rows: 8, class: "form-control"  %>
        <% end %>
        
        <div class="form-group">
            <span><%= f.check_box :private, class: "check-box"%></span><%= f.label :private, class: "label-private" %>
        </div>
        <div class="form-group">
            <%= link_to "", wiki_path(@wiki.id), class: "btn btn-warning glyphicon glyphicon-chevron-left" %>
            <%= f.submit "Confirm", class: "btn btn-success" %>
            <% if current_user.admin? || @wiki.user == current_user %>
                <%= link_to "Delete this Wiki!", @wiki, method: :delete, class: "btn btn-danger pull-right", data: { confirm: "Are you sure you want to delete this wiki?" } %></p>
            <% end %>
        </div>
    <% end %>
</div>
</section>
