<section class="yield-canvas">
    <div class="wiki-main">
        <h1 class="wiki-head-title"><%= @wiki.title %></h1>
        <h4 class="wiki-head-detail"><%= image_tag current_user.avatar_generator, class: "author-avatar-lg" %> Creator : <%= @wiki.user.username %> | Publish : <%= time_ago_in_words(@wiki.created_at) %> ago</h4>
        <p>
            <small><strong>
                <% if @wiki_cols.count > 0 %>
                    <span><%= pluralize(@wiki_cols.count, 'Collaborator') %> : </span>
                    <% @wiki_cols.each do |col| %>
                        <% if col==@wiki_cols.last %>
                            <span><%= col.username %></span>
                        <% else %>
                            <span><%= col.username %>, </span>
                        <% end %>
                    <% end %>
                <% else %>
                    <span>No Collaborator</span>
                <% end %>
            </strong></small>
        </p>
        <p><%= markdown(@wiki.body) %></p>
        <%= link_to '', wikis_path, class: "btn btn-primary glyphicon glyphicon-chevron-left", title: "To Main Page" %>
        <%= link_to '', edit_wiki_path, class: "btn btn-danger glyphicon glyphicon-pencil", title: "Edit" %>
    </div>
</section>